---
layout: base
permalink: index.html
---

     <header>

    </header>
    <div class="container" id="main">
        <h1>{{metadata.title}}</h1>
        <h2 class="lead">Nothing to see here .... yet.</h2>
    </div>
    <footer class="copy">
        <p>&copy; {{metadata.title}}</p>
    </footer>
